
<nav>
  <div class="container">
  <a class="navbar-brand" href="main"><img class="logo" src="assets/low-res-logo.png"></a>
  <ul class="menu">
    
    <li><a routerLink="/sobre">Sobre o projeto</a></li>
    <li><a routerLink="/usuario">Usuarios</a></li>
    <li><a routerLink="/produto">Produtos</a></li>
    <li><a routerLink="/venda">Venda</a></li>
    <li><a routerLink="/categoria">Categoria</a></li>
    
  </ul><br>
  <br>
  
  <label class="perfil"><a routerLink="/perfil">Meu Perfil</a></label>

  </div>

</nav>


  <div class="router">
    <router-outlet></router-outlet>
  </div>

  



