<div class="sobre">

<h1 class="titulo">Projeto Integrador 4° Semestre BSI</h1>
<p class="aluno">Aluno: Vinicius Starck</p>
<p class="professor">Professor: Fabio Abenza</p>

<h2>Este é um projeto de Front-End, Back-End e banco de dados<br>
    </h2>
</div><br><br>
<div class="definicaob">
    <h2>Possui tema livre, desde que atenda aos critérios mínimos, listados a seguir:</h2>

    <div class="a">
            <ul><h2>Definição Geral – Serviços back end</h2>
                <li>
                    -> 3 CRUDs
                    (funcionalidades básicas de cadastro, alteração,
                    deleção, listagem e pesquisa)
                </li>
                
                <li>
                    -> Deve possuir pelo menos uma funcionalidade de
                        negócio (por exemplo, venda, reserva, etc)
                </li>
                <li>
                    -> Deve possuir pelo menos uma funcionalidade de
                    relatório (por exemplo, relatório de vendas mensais
                    ou relatório de produtos mais vendidos no mês)
                </li>
                <li>
                    -> As entidades devem estar completas, ou seja,
                    devem possuir todos os atributos e validações
                    necessários para que funcionem corretamente
                    e agreguem algum valor ao uso do sistema
                </li>
                <li>
                    -> O projeto deve ser feito utilizando tecnologias
                    vistas na disciplina e no semestre
                </li>
                <li>
                    -> O projeto deve ter integração completa com banco de dados MySQL
                </li>
                


            </ul>
            <ul><h2>Definição Geral – Serviços front end</h2>
                <li>aaaaaaa</li>
                <li>aaaaaaa</li>
                <li>aaaaaaa</li>
                <li>aaaaaaa</li>
                <li>aaaaaaa</li>
                <li>aaaaaaa</li>
                <li>aaaaaaa</li>
                <li>aaaaaaa</li>
                <li>aaaaaaa</li>
                
            </ul>
    </div>

        


</div>  




